body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    color: #d32f2f;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    margin:auto;
    cursor: pointer;
  }
  
  .gif_container div {
     width: 100%; 
    max-width: 500px; 
    height: auto; 
  }
  
  .gif_container {
  
    max-width: 400px; 
    margin:20px auto;
  }

@media screen and (max-width: 480px) {
  .no-button {
    display: inline-block;
    margin-top:  10px;
    max-width: 480px

  }
  
}

